.content{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	.row{
		align-items: center;
	}
	.content__title-box{
		border-radius: $border-radius;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.content__title-h1{
		color: $white;
	}
	.card{
		border: none;
		align-self: center;
		&-header{
			display: flex;
			flex-direction: row;
			align-items: center;
			background: transparent;
			border: none;
			margin-bottom: 1rem;
			flex-wrap: wrap;
			@include media-breakpoint-down(sm){
				padding: .75rem 1rem;
			}
		}
		&-title-box{
			display: flex;
			flex-direction: column;
			width: 85%;
			margin-left: auto;
			img{
				display: block;
				width: 100%;
			}
		}
		&-icon{
			max-width: 50px;
			display: flex;
			margin-right: 1rem;
			@include media-breakpoint-down(sm){
				max-width: 30px;
				margin-right: 5px;
			}
		}
		&-title{
			color: $primary;
			margin-bottom: 0;
			@include media-breakpoint-down(sm){
				font-size: .8rem;
				text-align: left;
			}
		}
		&-subtitle{
			margin-top: .75rem;
			@include media-breakpoint-down(sm){
				font-size: .8rem;
				text-align: left;
			}
		}
		&-footer{
			border: none;
			background: transparent;
		}
		&-link{
			background: $dark;
			color: $white;
			padding: .5rem 1.5rem;
			border-radius: $border-radius;
			&:hover,
			&:active{
				background: darken($dark, 10%);
			}
			@include media-breakpoint-down(sm){
				display: block;
				text-align: center;
			}
		}
	}
	&-imgbox{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		img{
			width: 80%;
			display: block;
			margin: 0 auto;
		}
		@include media-breakpoint-down(sm){
			padding-bottom: 1rem;
		}
	}
	&-circleBox{
		display: flex;
		width: 100%;
		position: relative;
		align-items: flex-end;
		justify-content: center;
		margin: 2rem auto;
	}
	&-svgbox{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		img{
			max-width: 105px;
		}
		h5{
			text-align: center;
		}
	}
	&-mapBox{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		height: 100%;
		@include box-shadow;
		iframe{
			display: block;
			min-height: 300px;
		}
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	@include media-breakpoint-down(sm){
		.py-5{
			padding-top: 1rem!important;
			padding-bottom: 1rem!important;
		}
		.row{
			padding-top: 1rem !important;
		}
	}
	@include media-breakpoint-down(xs){
	}
}